
.pool-content{
    z-index: 10;
    position: relative;
    max-width: 1200px;
    min-height: 890px;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    margin-top: 20PX;
}