.main-wrapper {
    background: #f0f2f5;
    min-height: 840px;
    background-image: url('https://gw.alipayobjects.com/zos/rmsportal/TVYTbAXWheQpRcWDaDMu.svg');
}


.register-form {
    max-width: 700px;
    margin-top: 50px;
    position: relative;
    margin-left: 500px;
    margin-right: auto;
  }

.register-form-button {
    width: 100%;
}